<footer class="page-footer">
  <section class="footer-top">
    <div class="footer-top__container base-container">

      <div class="footer-top__logo-block">
        <a class="footer-top__logo-link" href="index.html">
          <img class="footer-top__logo-img" src="img/image/logo-footer.png" width="207" height="65" alt="#">
        </a>
        <div>
          <svg class="footer-top__logo-address-icon" width="12" height="12" aria-hidden="true">
            <use href="img/icon/sprite.svg#contacts-4-icon"></use>
          </svg>
          <span class="footer-top__logo-address-text">г. Санкт-Петербург, Ириновский пр., д. 1ад </span>
        </div>
      </div>

      <ul class="footer-top__nav-list">
        <li class="footer-top__nav-list-item">
          <a class="footer-top__nav-list-link" href="#"></a>
        </li>
      </ul>

      <div class="footer-top__contacts">
        <span class="footer-top__contacts-time">Пн-Вс с 10:00 до 20:00</span>
        <a class="footer-top__contacts-phone" href="tel:#">+7 (911) 034 05-55</a>
        <a class="footer-top__contacts-callback" href="#">Заказать звонок</a>
      </div>

    </div>
  </section>

  <section class="footer-bottom">
    <div class="footer-bottom__container base-container">
      <span class="footer-bottom__copyright">© <span id="year"></span> </span>
      <a class="footer-bottom__policy">Политика конфиденциальности</a>
      <a class="footer-bottom__isart-link" href="#">
        <svg class="footer-bottom__isart-icon" width="52" height="21" aria-hidden="true">
          <use href="img/icon/sprite.svg#isart-icon"></use>
        </svg>
      </a>
    </div>
  </section>

  <script>
    document.querySelector('#year').textContent = new Date().getFullYear();
  </script>

</footer>

<!-- <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/gh/peterhry/CircleType@2.3.1/dist/circletype.min.js"></script> -->
<script src="js/index.min.js?v=3.0"></script>

</body>

</html>