<footer class="page-footer">
  <section class="footer-top">
    <div class="footer-top__container base-container">
      <a class="footer-top__logo-block" href="index.html">
        <svg class="footer-top__logo-icon" width="162" height="76" aria-hidden="true">
          <use href="img/icon/sprite.svg#logo2-icon"></use>
        </svg>
      </a>
    </div>
  </section>

  <section class="footer-bottom">
    <div class="footer-bottom__container base-container">
      <span class="footer-bottom__copyright">© <span id="year"></span> </span>
      <a class="footer-bottom__policy">Политика конфиденциальности</a>
      <a class="footer-bottom__isart-link" href="#">
        <svg class="footer-bottom__isart-icon" width="52" height="21" aria-hidden="true">
          <use href="img/icon/sprite.svg#isart-icon"></use>
        </svg>
      </a>
    </div>
  </section>

  <script>
    document.querySelector('#year').textContent = new Date().getFullYear();
  </script>

</footer>

<!-- <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/gh/peterhry/CircleType@2.3.1/dist/circletype.min.js"></script> -->
<script src="js/index.min.js?v=3.0"></script>

</body>

</html>