<button class="modal-with-form__button visually-hidden"></button>
<div class="modal-with-form" id="modal_with_form">
  <div class="modal-with-form__wrapper">
    <button class="modal-with-form__close" type="button">
      <svg class="modal-with-form__close-icon" width="24" height="24" aria-hidden="true">
        <use href="img/icon/sprite.svg#modal-close-icon"></use>
      </svg>
    </button>
    <div class="modal-with-form__inner">
    </div>
    <div class="modal-with-form__success">
      <span class="modal-with-form__success-text">Ваша заявка успешно отправлена!</span>
    </div>
  </div>
</div>