@use "../mixins";

.arrows {
  display: flex;
  align-items: center;
  justify-content: center;

  & .swiper-button-disabled {
    opacity: 0.3;
    user-select: none;
    pointer-events: none;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 0.3s;

    padding: 10px;

    &:hover {
      transform: scale(1.2);
      transition: transform 0.3s;
    }

    &-icon {
      width: 22px;
      height: 8px;
    }
  }
}